@charset "UTF-8";
.background-image {
  height: 500px;
  background: url("../../image/coffee-background.jpg");
}

.background-image-no-repeat {
  height: 500px;
  background: no-repeat url("../../image/coffee-background.jpg");
}

.background-image-max-cover {
  height: 500px;
  background: no-repeat center/cover url("../../image/coffee-background.jpg");
}

.background-image-normal-size {
  height: 500px;
  background: no-repeat center/contain url("../../image/coffee-background.jpg");
}
