@charset "UTF-8";
.comment-block {
  width: 500px;
  background-color: #fad296;
  padding: 20px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  border: solid 5px #8f5a0a;
  border-radius: 28px;
  position: relative;
}

.comment-block::before {
  content: "";
  position: absolute;
  bottom: -52px;
  left: 30px;
  border: solid 26px transparent;
  border-top: solid 26px #8f5a0a;
}

.comment-block::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 35px;
  border: solid 21px transparent;
  border-top: solid 21px #fad296;
}
